* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Common styles for navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background: #32281d;
    padding: 10px 0;
}

.navlist {
    list-style: none;
    display: flex;
    align-items: center;
}

.navlist li {
    padding: 0 20px;
}

.navlist li a {
    text-decoration: none;
    color: white;
}

.navlist li a:hover {
    color: black;
}

.logo img {
    width: 300px;
    border: 2px solid white;
    border-radius: 100px;
    margin-right: 20px;
}

#search {
    padding: 6px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 25px;
}

.rightnav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.btn {
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: #2f2ff7;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

/* Styles for the video container */
.video-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.video-container iframe {
    max-width: 100%;
    height: 350;
}

/* Custom styles for the footer */
footer {
    text-align: center;
    background-color: #32281d;
    color: white;
    padding: 10px 0;
}




/* Common styles for the contact section */
.contact {
    background-color: #e5e3df;
    height: 275px;
}

.text-centre {
    text-align: center;
    padding: 20px 0px;
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label {
    margin-bottom: 5px;
}

.form input,
.form textarea {
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 7px 0px;
}

.sub-button {
    text-align: center;
    margin: 25px 0px;
}

.submit {
    padding: 5px 13px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: #2f2ff7;
    color: white;
    cursor: pointer;
}

/* Media query for responsiveness */
@media only screen and (max-width: 1340px) {
    .navlist {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
        transition: all 0.6s ease-out;
        height: 440px;
    }
    .rightnav {
        text-align: center;
    }
    #search {
        width: 80%;
    }
    .burger {
        display: block;
    }
    .h-nav {
        height: 60px;
    }
    .v-class {
        opacity: 0;
    }
    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section {
        flex-direction: column-reverse;
    }
    .text-big {
        text-align: center;
    }
    .text-small {
        text-align: center;
    }
    .buttons {
        text-align: center;
    }
    .paras {
        padding: 0px 0px 45px 0px;
    }
    .form input {
        padding: 5px 75px;
    }
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #32281d;
    color: white;
    position: absolute;
    bottom: -20;
    width: 100%;
}

/* Custom styles for the footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #32281d;
    padding: 10px 0;
}

.text-centre {
    text-align: center;
    margin: 0;
}

